.container{
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // margin: 0 4rem;
    
}
.card {
    padding: 0 4rem;
    flex-grow: 1;
    &__image {
        margin-top: 4rem;
    }
    &__title {
        color: $very-light-gray;
        font-family: 'Big Shoulders Display', cursive;
        margin: 2.5rem 0;
    }
    &__text {
        color: $transparent-white;
        font-family: 'Lexend Deca', sans-serif;
        line-height: 1.7;
        font-size: 1.4rem;
    }
    &__btn {
        cursor: pointer;
        border: none;
        width: 15rem;
        height: 4rem;
        border-radius: 4rem;
        margin: 4.3rem 0 3.4rem 0;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 700;

        // color: #000;
        mix-blend-mode: screen;
    }
}   

.jedan {
    background-color: $bright-orange;
}
.dva {
    background-color: $dark-cyan;
}
.tri {
    background-color: $very-dark-cyan;

}

@media (min-width:801px) { 
    .container{
 
        flex-direction: row;

        background: bisque;
        height: 100vh;
        display: flex;
        align-items: center;
        
    }

 }